## Veri Setinin Betimlenmesi

In [1]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()

In [2]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
# Veri setinin değişken ve gözlem sayısına erişmek için:
df.shape

(1035, 6)

In [4]:
# Sadece değişken isimlerine erişmek istersek:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [6]:
# Betimsel istatistiklere erişme: (Transpozunu almak daha güzel olacaktır.)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

* describe() Eksik gözlemleri göz ardı eder ve kategorik değişkenleri dışarıda bırakır. Yani buradaki bütün değişkenler sayısal değişkenlerdir. Burada bütün sayısal değişkenler kategorik değişken olamaz anlamına gelmez. Mesela cinsiyet kategorisi için kadına 1 erkeğe 0 değeri verdiğimizde sayısal değişkenler de kategorik değişken olmuş olurlar. Veri setinin hikayesini bilmek bu yüzden önemlidir.

In [7]:
# hepsini almak için:
df.describe(include = "all").T
# yaparız ancak bu kullanım doğru değildir.

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
method,1035,10,Radial Velocity,553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number,1035.0,NaN,NaN,NaN,1.785507,1.240976,1.0,1.0,1.0,2.0,7.0
orbital_period,992.0,NaN,NaN,NaN,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,NaN,NaN,NaN,2.638161,3.818617,0.0036,0.229,1.26,3.04,25.0
distance,808.0,NaN,NaN,NaN,264.069282,733.116493,1.35,32.56,55.25,178.5,8500.0
year,1035.0,NaN,NaN,NaN,2009.070531,3.972567,1989.0,2007.0,2010.0,2012.0,2014.0