### Sürekli Değişken Özetleri

In [1]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [2]:
df_num = df.select_dtypes(include = ["float64", "int64"])

In [3]:
df_num.head()
# sadece sürekli değişkenlere erişmiş olduk

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [5]:
df_num.describe().T
#betimsel istatistiklere tüm veri setleri için ulaşmak istersek.

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [7]:
df_num["distance"].describe()
#sadece belirli bir değişkenin betimsel istatistik betimlemesine erişmek için:

count     808.000000
mean      264.069282
std       733.116493
min         1.350000
25%        32.560000
50%        55.250000
75%       178.500000
max      8500.000000
Name: distance, dtype: float64

In [8]:
print("Ortalama: " + str(df_num["distance"].mean()))
print("Dolu Gözlem Sayısı: " + str(df_num["distance"].count()))
print("Maksimum Değer: " + str(df_num["distance"].max()))
print("Minimum Değer: " + str(df_num["distance"].min()))
print("Medyan: " + str(df_num["distance"].median()))
print("Standart Sapma: " + str(df_num["distance"].std()))

Ortalama: 264.06928217821786
Dolu Gözlem Sayısı: 808
Maksimum Değer: 8500.0
Minimum Değer: 1.35
Medyan: 55.25
Standart Sapma: 733.1164929404422

In [11]:
print("Ortalama: " + str(df_num["year"].mean()))
print("Dolu Gözlem Sayısı: " + str(df_num["year"].count()))
print("Maksimum Değer: " + str(df_num["year"].max()))
print("Minimum Değer: " + str(df_num["year"].min()))
print("Medyan: " + str(df_num["year"].median()))
print("Standart Sapma: " + str(df_num["year"].std()))

Ortalama: 2009.0705314009663
Dolu Gözlem Sayısı: 1035
Maksimum Değer: 2014
Minimum Değer: 1989
Medyan: 2010.0
Standart Sapma: 3.9725668572022177

In [12]:
print("Ortalama: " + str(df_num["mass"].mean()))
print("Dolu Gözlem Sayısı: " + str(df_num["mass"].count()))
print("Maksimum Değer: " + str(df_num["mass"].max()))
print("Minimum Değer: " + str(df_num["mass"].min()))
print("Medyan: " + str(df_num["mass"].median()))
print("Standart Sapma: " + str(df_num["mass"].std()))

Ortalama: 2.6381605847953233
Dolu Gözlem Sayısı: 513
Maksimum Değer: 25.0
Minimum Değer: 0.0036
Medyan: 1.26
Standart Sapma: 3.8186166509616046

In [13]:
print("Ortalama: " + str(df_num["orbital_period"].mean()))
print("Dolu Gözlem Sayısı: " + str(df_num["orbital_period"].count()))
print("Maksimum Değer: " + str(df_num["orbital_period"].max()))
print("Minimum Değer: " + str(df_num["orbital_period"].min()))
print("Medyan: " + str(df_num["orbital_period"].median()))
print("Standart Sapma: " + str(df_num["orbital_period"].std()))

Ortalama: 2002.9175960947584
Dolu Gözlem Sayısı: 992
Maksimum Değer: 730000.0
Minimum Değer: 0.09070629
Medyan: 39.9795
Standart Sapma: 26014.72830406252

In [14]:
print("Ortalama: " + str(df_num["number"].mean()))
print("Dolu Gözlem Sayısı: " + str(df_num["number"].count()))
print("Maksimum Değer: " + str(df_num["number"].max()))
print("Minimum Değer: " + str(df_num["number"].min()))
print("Medyan: " + str(df_num["number"].median()))
print("Standart Sapma: " + str(df_num["number"].std()))

Ortalama: 1.7855072463768116
Dolu Gözlem Sayısı: 1035
Maksimum Değer: 7
Minimum Değer: 1
Medyan: 1.0
Standart Sapma: 1.2409761743386767